<!-- <div>
    <input type="text" class="form-control" [(ngModel)]="name">
    <label>{{transform(name)}}</label>
</div> -->
<ng-sidebar-container>
    <ng-sidebar [(opened)]="_opened" [mode]="_mode" [position]="_position" [animate]="_animate" [sidebarClass]="'demo-sidebar'" [ariaLabel]="'My sidebar'">
        <div class="vertical-menu">
            <h2>{{realm}}</h2>
            <h5>Configure</h5>
            <a (click)="getUserInfoFromToken()" [ngClass]="{'active':isTokenCardVisible === true}">
                <i class="fa fa-address-card" aria-hidden="true"></i> User Information
            </a>
            <a (click)="getAllRoles()" [ngClass]="{'active':isRoleAllVisible === true}">
                <i class="fa fa-tasks" aria-hidden="true"></i> Get Role
            </a>
            <a (click)="addRole()" [ngClass]="{'active':isAddRoleVisible === true}">
                <i class="fa fa-plus-square" aria-hidden="true"></i> Add Role
            </a>
            <h5>Manage</h5>
            <a (click)="getUsersFromApi()" [ngClass]="{'active':isAPICardsVisible === true}">
                <i class="fa fa-users" aria-hidden="true"></i> Get Users
            </a>
            <a (click)="openAddUser()" [ngClass]="{'active':isAddUserVisible === true}">
                <i class="fa fa-user-plus" aria-hidden="true"></i> {{isEditable ? 'Edit' : 'Add'}} User</a>
            <a (click)="openAddMultipleUser()" [ngClass]="{'active':isAddMultiUserVisible === true}">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Multiple Users</a>
        </div>
    </ng-sidebar>
    <div ng-sidebar-content>
        <header class="demo-header">
            <nav class="navbar navbar-inverse navbar-fixed-top header">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                        <a class="navbar-brand" href="">
                            <img src="assets/images/logo.jpg" />
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> {{fullName}}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu multi-level">
                                    <li>
                                        <a (click)="logout()">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section class="demo-contents">
            <div class="row">
                <div class="col-md-4 col-md-offset-4" *ngIf="isTokenCardVisible">
                    <div class="thumbnail">
                        <br>
                        <img src="assets/images/user.png" class="img-circle" alt="{{fullName}}">
                        <div class="caption">
                            <h3>{{fullName}}
                                <span class="label label-default">{{username}}</span>
                            </h3>
                            <h5>Email
                                <span class="label label-success">{{email}}</span></h5>
                            <h5>Realm
                                <span class="label label-success">{{realm}}</span></h5>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" *ngIf="isAPICardsVisible">
                    <div class="panel-heading">
                        <h3 class="panel-title">Users</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-6 padding-none">
                            <div class="input-group">
                                <input type="text" class="form-control" [(ngModel)]="search" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" (click)="searchRecords(search)" type="button">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6 padding-none text-right">
                            <button class="btn btn-default" type="button" (click)="openAddUser()">
                                        <i class="fa fa-user-plus" aria-hidden="true"></i> Add User
                                </button>
                            <button class="btn btn-default" (click)="openAddMultipleUser()" type="button">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Multiple Users
                                </button>
                        </div>
                        <br><br><br>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>UserName</th>
                                    <th>Email</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of usersArray">
                                    <td>
                                        <a (click)="editUser(user)">
                                            {{user.id}}
                                        </a>
                                    </td>
                                    <td>{{user.username}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.firstName}}</td>
                                    <td>{{user.lastName}}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-xs" (click)="editUser(user)">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                        <button type="button" (click)="grantAccess(user)" class="btn btn-success btn-xs">
                                                <i class="fa fa-universal-access" aria-hidden="true"></i>
                                             </button>
                                        <button type="button" (click)="deleteUser(user, template)" class="btn btn-danger btn-xs">
                                                 <span class="glyphicon glyphicon-trash"></span>
                                             </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btn-group" role="group" *ngIf="usersArray && (usersArray.length >= max || first > 0)">
                            <button type="button" class="btn btn-default" [disabled]="first === 0" (click)="firstPage()">First Page</button>
                            <button type="button" class="btn btn-default" [disabled]="first === 0" (click)="previousPage()">Previous Page</button>
                            <button type="button" class="btn btn-default" [disabled]="usersArray.length < max" (click)="nextPage()">Next Page</button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" *ngIf="isRoleAllVisible">
                    <div class="panel-heading">
                        <h3 class="panel-title">Roles</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-6 padding-none">
                            <div class="input-group">
                                <input type="text" class="form-control" (keyup)="searchRoles(searchRole)" [(ngModel)]="searchRole" placeholder="Search for roles">
                                <span class="input-group-btn">
                                        <button class="btn btn-default" (click)="searchRoles(searchRole)" type="button">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6 padding-none text-right">
                            <button class="btn btn-default" (click)="addRole()" type="button">
                                            <i class="fa fa-tasks" aria-hidden="true"></i> Add Role
                                    </button>
                        </div>
                        <br><br><br>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Role Name</th>
                                    <th>Composite</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let role of filteredItems">
                                    <td>
                                        <a (click)="editRole(role)">
                                            {{role.name}}
                                        </a>
                                    </td>
                                    <td>{{role.composite}}</td>
                                    <td>{{role?.description}}</td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-xs" (click)="editRole(role)">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                        <button type="button" (click)="deleteRole(role, Roletemplate)" class="btn btn-danger btn-xs">
                                                     <span class="glyphicon glyphicon-trash"></span>
                                                 </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <div class="panel panel-default" *ngIf="isAddUserVisible">
                        <div class="panel-heading">
                            <h4>{{isEditable ? userData.username : 'Add User'}}
                                <span class="glyphicon glyphicon-trash cursor-pointer" (click)="deleteUser(userData)" *ngIf="isEditable"></span>
                                <span class="label label-success pull-right" *ngIf="isEditable"> Created At : {{userData.createdTimestamp | date: 'short'}}</span>
                            </h4>
                            <span class="label label-info text-right" *ngIf="isEditable">{{userData.id}}</span>
                        </div>
                        <div class="panel-body">
                            <h4 *ngIf="isEditable">User Details <span class="label label-default">Edit</span></h4>
                            <form class="form-horizontal" [formGroup]="createUserForm" (submit)="createUser(userData)">
                                <div class="form-group">
                                    <label for="username" class="col-sm-4 control-label">User Name <span style="color:red;">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" formControlName="username" id="username" [(ngModel)]="userData.username" placeholder="User Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-sm-4 control-label">Email
                        <span style="color:red;">*</span>
                      </label>
                                    <div class="col-sm-8">
                                        <input type="email" class="form-control" id="email" formControlName="email" [(ngModel)]="userData.email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="firstName" class="col-sm-4 control-label">First Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="firstName" formControlName="firstName" [(ngModel)]="userData.firstName" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lastName" class="col-sm-4 control-label">Last Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="lastName" formControlName="lastName" [(ngModel)]="userData.lastName" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-sm-4 control-label">Password</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="password" formControlName="password" [(ngModel)]="credentials.value" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="confirmPassword" class="col-sm-4 control-label">Confirm Password</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 text-right">
                                        <button type="submit" class="btn btn-success" *ngIf="!isEditable" [disabled]="!createUserForm.valid">Create user</button>
                                        <button type="submit" class="btn btn-success" *ngIf="isEditable" [disabled]="!createUserForm.valid">Save user</button>
                                    </div>
                                </div>
                            </form>
                            <div *ngIf="isEditable">
                                <h4>Role Mapping <span class="label label-default">Edit</span></h4>
                                <br>
                                <br>
                                <!-- <div class="list-group col-lg-4 col-md-4">
                                    <label>Available Roles</label>
                                    <a class="list-group-item" *ngFor="let role of availableRoles">
                                                {{role.name}}
                                            </a>
                                    <br>
                                    <div class="text-right">
                                        <button type="button" class="btn btn-success">Add</button>
                                    </div>
                                </div>
                                <div class="list-group col-lg-4 col-md-4">
                                    <label>Assigned Roles</label>
                                    <a class="list-group-item" *ngFor="let role of assignedRoles">
                                                {{role.name}}
                                            </a>
                                    <br>
                                    <div class="text-right">
                                        <button type="button" class="btn btn-success">Remove</button>
                                    </div>
                                </div> -->
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-none">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-none margin-bottom">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <span>Available Roles</span>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <span>Assigned Roles</span>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <span>Effective Roles</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-none margin-bottom">
                                        <div class="list-view col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <div #typesElement>
                                                <a *ngFor="let role of availableRoles; let i = index" class="list-group-item" (click)="toggleAvailableActive('typesElement',i)">{{role.name}}</a>
                                            </div>
                                        </div>
                                        <div class="list-view col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <div #typesElAssigned>
                                                <a *ngFor="let role of assignedRoles; let i = index" class="list-group-item" (click)="toggleAssignedActive('typesElAssigned',i)">{{role.name}}</a>
                                            </div>
                                        </div>
                                        <div class="list-view col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <div>
                                                <a *ngFor="let role of effectiveRoles; let i = index" class="list-group-item disabled">{{role.name}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-none">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <div class="text-right">
                                                <button type="button" class="btn btn-success" (click)="addItem('typesElement','newAssignedTypes')">Add</button>
                                            </div>
                                        </div>
                                        <!-- <div class=" col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                        <a class="control glyphicon glyphicon-chevron-right" (click)="addItem('countriesElement','newAssignedCountries')"></a>
                                        <a class="control glyphicon glyphicon-chevron-left" (click)="removeItem('countriesElAssigned','newAssignedCountries')"></a>
                                    </div> -->
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <div class="text-right">
                                                <button type="button" class="btn btn-success" (click)="removeItem('typesElAssigned','newAssignedTypes')">Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="panel panel-default" *ngIf="isAddMultiUserVisible">
                        <div class="panel-heading">
                            <h3 class="panel-title"> Add Multiple Users</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div draggable="true" ngClass="{{dragAreaClass}}" (click)="fileInput.click()">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <i class="glyphicon glyphicon-download-alt"></i>
                                            <a href="javascript:void(0)">
                                                      Click to browse 
                                                    </a> Or Drag & Drop to upload your files
                                            <input type="file" #fileInput (change)="handleFile($event)" style="display:none" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="filename">
                                <br>
                                <label class="file_name">{{filename}}</label>
                                <a (click)="resetComment()"><span class="glyphicon glyphicon-remove"></span></a>
                                <button type="button" class="btn btn-success pull-right" [disabled]="!(result.length>0)" (click)="addMultipleUsers(result)">Upload Users</button>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="result && result.length>0">
                                <h2>Results</h2>
                                <code>{{results}}</code>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" *ngIf="isAddRoleVisible">
                        <div class="panel-heading">
                            <h4>{{isRoleEditable ? roleData.name : 'Add Role'}} <span class="glyphicon glyphicon-trash cursor-pointer" (click)="deleteRole(roleData)" *ngIf="isRoleEditable">
                                </span>
                            </h4>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" [formGroup]="createRoleForm" (submit)="createRole(roleData)">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4 control-label">Role Name <span style="color:red;">*</span></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" formControlName="name" id="name" [(ngModel)]="roleData.name" placeholder="Role Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="description" class="col-sm-4 control-label">Description
                          </label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" id="description" rows="6" cols="40" formControlName="description" [(ngModel)]="roleData.description" placeholder="Description"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 text-right">
                                        <button type="submit" class="btn btn-success" *ngIf="!isRoleEditable" [disabled]="!createRoleForm.valid">Create Role</button>
                                        <button type="submit" class="btn btn-success" *ngIf="isRoleEditable" [disabled]="!createRoleForm.valid">Save Role</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</ng-sidebar-container>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Delete User</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
    </div>
    <div class="modal-body text-center">
        <p>Are you sure you want to permanently delete the user {{deletedUser.id}}?</p>
        <br>
        <button type="button" class="btn btn-default" (click)="decline()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="confirm()">Delete</button>
    </div>
</ng-template>
<ng-template #Roletemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Delete Role</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
    </div>
    <div class="modal-body text-center">
        <p>Are you sure you want to permanently delete the role {{deletedRole.name}}?</p>
        <br>
        <button type="button" class="btn btn-default" (click)="decline()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="confirmDeleteRole()">Delete</button>
    </div>
</ng-template>